.idea
backup_tmp
result/toynet/PR5 Testing
result/toynet/PR2 TestingNew
result/toynet/PR5 TestingNew
result/toynet/link_flow

result/5x5net/PR2 TestingNew
result/5x5net/PR5 TestingNew
result/5x5net/sumolog_tmp
result/5x5net/link_flow
sumo_cfg/5x5net/dualogs
sumo_cfg/toy_net/dualogs
src/__pycache__
src/utili/__pycache__
ctm_temtest